body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main__container {
  margin-top: 2em;
  padding: 5em;
  width: 100%;
}

.mainHeader {
  font-size: 2rem;
  font-weight: 500;
  color: #cecece;
}

.addcategory__btn {
  margin-left: 60em;
}
